---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="sideNav">
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->
          <!--Limit:4 allows only the first 4 posts to be displayed.-->
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
  </div> 


  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
